@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --primario: #f85d03;
  --secundario: #e0960d;
  --gris: #e1e1e1;
  --blanco: #ffffff;
  --negro: #000000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.6rem;
  background-color: #ff9665;
  overflow-x: hidden;
}

