.activitiesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    /* height: 70vh; */
    width: 35vw;
}

@media (min-width: 768px) {
    .activitiesContainer {
        margin: 0;
        /* height: 70vh; */
        width: 25vw;
    }
}

@media (min-width: 970px) {
    .activitiesContainer {
        margin: 0;
        /* height: 70vh; */
        width: 15vw;
    }
}