.backHome {
    background-image: url('../images/10-events_tourism_day.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    min-height: 100vh;
}

.cardActivityContainer {
    display: flex;
    align-items: flex-start;
}


