.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.searchInput {
    margin: 0 2rem 0 2rem;
    width: 40%;
    height: 3rem;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid var(--primario);
}

.searchBtn {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    transition: 500ms;
}

.searchBtn:hover {
    transform: scale(1.2);
}

.homeBtn {
    border: 0;
    cursor: pointer;
    transition: 500ms;
    background-color: transparent;
}

.homeBtn:hover {
    transform: scale(1.2);
}