.backForm {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/09-activities.jpg');
    background-size: cover;
    background-position: center;
    opacity: 90%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    width: 700px;
}

.formProps {
    margin: 0;
    padding: 40px 0 0 0
}

input {
    width: 200px;
}

.nombreForm {
    width: 200px;
}

.diffForm {
    width: 200px;
}

.durForm {
    width: 200px;
}

.tempForm {
    width: 200px;
}

.selectsForm {
    position: relative;
    padding: 20px;
    left: 50%;
    bottom: 12%;
}

.countryForm {
    padding: 20px;
}

.selectForm {
    width: 205px;
    height: 200px;
    text-align: center;
}

.onlyButton {
    position: relative;
    left: 23%;
}

.formButton {
    padding: 20px;
}

.errorsInput {
    /* font-weight: bold;
    color: red; */
    border-bottom: 1px solid var(--secundario);
}