
.pagContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttonLeft {
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.buttonRight {
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.inputPage {
    height: 20px;
    width: 28px;
    padding: 5px;
}

@media (min-width: 768px) {
    .pagContainer {
        position: relative;
        bottom: 0;
        right: 2%;
        width: 100%;
        margin-top: 20px;
        padding: 20px;
    }

    .arrows {
        width: 100px;
    }
}